@import "../medias";

.toolbar {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__avatar {
    border-radius: 100%;
  }
  &__navigation {
    margin: auto;
  }
}
