:host {
  display: flex;
  align-items: center;
  padding: var(--space);
}
:host([hidden]) {
  display: none;
}

.bullet {
  flex: 0 0 auto;
  box-sizing: border-box;
  height: 6px;
  width: 6px;
  background-color: var(--bullet-color);
  border-radius: 100%;
  display: inline-block;
  margin-right: var(--space);
}
