{
  "presets": [
    ["@babel/preset-env", {
      "exclude": [
        "@babel/plugin-transform-classes"
      ]
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": true
    }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["babel-plugin-template-html-minifier", {
      "modules": {
        "lit-html": ["html"],
        "lit-element": [
          "html",
          {"name": "css", "encapsulation": "style"}
        ],
      },
      "htmlMinifier": {
        "collapseWhitespace": true
      }
    }],
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": false,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
