@import "~@/styles/settings/variables";
@import "~@/styles/tools/media";


.avatar {
  float: right;
  margin: 0 0 0 $space;
  width: 200px;
  height: 200px;
  @include phone {
    width: 150px;
    height: 150px;
  }
  background-image: url("~@/images/avatar.png");
  background-size: contain;
  background-blend-mode: luminosity;
  background-color: $white;
  border-radius: 100%;
  shape-outside: circle(50%);
}
