@import "~@/styles/settings/variables";
@import "~@/styles/tools/media";
@import "~@/styles/tools/elevation";

.event-content {
  overflow: auto;
  margin-top: $space;
}

.strv {
  float: left;
  padding: calc(#{$space} * 2);
  max-width: 150px;
}

