$mdc-theme-primary: #212121;
$mdc-theme-primary-light: #484848;
$mdc-theme-primary-dark: #000000;
$mdc-theme-secondary: #fafafa;
$mdc-theme-secondary-light: #ffffff;
$mdc-theme-secondary-dark: #c7c7c7;
$mdc-theme-background: #ffffff;
 
@import "~@material/theme/mdc-theme";
