:host {
  display: block;
}

:host([sticky][open]) {
  summary {
    position: sticky;
    top: 0;
  }
}

:host([hidden]) {
  display: none;
}

slot {
  display: block;
}


summary {
  display: block;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}



#summary-indicator {
  margin-left: var(--space);
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
}
details {
  &[open] {
    .angle-right {
      transform: rotate(90deg);
    }
  }
}

::-webkit-details-marker {
  display: none;
}
