
:host {
  display: block;
  height: 100vh;
}
:host([half]) {
  height: 50vh;
}
:host([position="top"]) {
  header {
    align-items: flex-start;
  }
}

header {
  z-index: -1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  align-items: flex-end;
}
