@import "variables";

:root {
  --space: 12px;
  --text-font-family: 'Lato', sans-serif;
  --title-font-family: 'NeutraText-Bold', 'Neutra Text', monospace;
  --title-font-weight: bold;
  --caption-font-family: var(--title-font-family);

  --white: #F0F0F2;
  --black: #252525;
  --black-50: rgba(37, 37, 37, 0.5);
  --lighter-coral: #F2C1B6;
  --light-coral: #F2958D;
  --coral: #D94E4E;
  --dark-coral : #8C2E26;
  --darker-coral : #0D0D0D;
  --light-green: #7AFF96;
  --green: #57B56B;
  --dark-green: #2A6637;
  --dark-blue: #090D26;
  --blue: #4D628C;
  --light-blue: #91C4D9;
  --beige: #D9AF8B;
  
  --bullet-color: var(--dark-coral);
  @media (max-width: $phone-max-width) {
    --space: 6px;
  }
}
