@import "variables";

:root {
  --space: 12px;
  --text-font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
  --title-font-family: 'NeutraText-Bold', 'Neutra Text', monospace;
  --title-font-weight: bold;
  --caption-font-family: 'NeutraText-Bold', 'Neutra Text', monospace;

  --black: #252525;
  --black-50: rgba(37, 37, 37, 0.5);

  --dark-blue : #20333e;
  --blue : #375a63;
  --light-blue : #6795a0;
  --white : #f4efe6;
  --beige : #ecb172;
  --coral : #d05f4c;
  
  --bullet-color: var(--dark-coral);
  @media (max-width: $phone-max-width) {
    --space: 6px;
  }
  @media print {
    --space: 6px;
    --white : #ffffff;
  }
}
