@mixin with-background-colors {
  &.light-coral-color {
    background: $light-coral;
    color: $white;
  }
  &.coral-color {
    background: $coral;
    color: $white;
  }
  &.dark-coral-color {
    background: $dark-coral;
    color: $white;
  }
  &.dark-blue-color {
    background-color: $dark-blue;
    color: $white;
  }
  &.blue-color {
    background-color: $blue;
    color: $white;
  }
  &.light-blue-color {
    background-color: $light-blue;
    color: $white;
  }
  &.beige-color {
    background-color: $beige;
    color: $white;
  }
}
