@use '/styles/variables';
@use '/styles/elevation';
@use '/components/Section/mixins' as section-mixins;
@use '/components/Section/variables' as section-variables;

@value abbreviation, caption, text, subtitle-1 as section__title from '/styles/_typography.scss';
@value section__anchor from "/components/Section/style.module.scss";

.strv {
  float: left;
  padding: calc(#{variables.$space} * 2);
  max-width: 150px;
}

.section {
	@include section-mixins.variables(variables.$light-blue);
	summary {
		@include section-mixins.theme;
		@include elevation.z("header", "experience");
	}
	&__event:not(:last-child) {
		border-bottom: 3px solid section-variables.$color;
		padding-bottom: calc(#{variables.$space} * 4);
		margin-bottom: calc(#{variables.$space} * 4);
	}
	&__content {
		margin-top: variables.$space;
	}
}

