@import "../../styles/settings/variables";
@import "../../styles/tools/elevation";
@import "../../styles/tools/media";


.header {
  @media screen {
    @include shadow;
  }
  @include z("header", "app-bar");
  // @include padding-limit;
  padding: calc(#{$space} * 2) calc(#{$space} * 2) 0 calc(#{$space} * 2);
  background-color: $dark-blue;
  color: $white;
  min-height: 80px;
  display: flex;
  align-items: flex-end;
  flex: 0 0 auto;
  a {
    text-decoration: none;
  }
}


.aside {
  flex: 1;
  margin-right: $space;
}
