.bs-footer-container {
  margin: 0 1em;
  border-top: solid var(--secondary) 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  &__relative {
    height: 41px;
  }
}
.bs-social-links {
  float: right;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  &__item {
    margin: 5px;
    font-size: 1.5em;
    color: var(--accent);
  }
}
