.bs-header-container {
  @media print {
    // display: none !important;
    padding: 3em;
    margin: 0 2em;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  grid-gap: 0 1em;
  @media #{$tablet} {
    display: grid;
    grid: "avatar name" 75px
    "avatar name" 75px
    / 150px 1fr;
  }
  &__avatar {
    grid-area: avatar;
  }
  &__name {
    text-align: center;
    @media #{$tablet} {
      text-align: start;
    }
    grid-area: name;
  }
  &__address {
    grid-area: address;
    * {
      text-align: end;
      margin: 0;
    }
  }
}

.bs-avatar {
  border-radius: 100%;
}
