@import "queries";

:root {
  font-family: 'Fira Code';
}

body {
  margin: 0;
}

.avatar {
  border: 4px solid whitesmoke;
  border-radius: 100%;
  margin: 0 auto;
  transform: translate(0, 50%);
  @media #{$tablet} {
    margin: 0 0 0 10px;
  }
}
.avatar-relative {
  padding: 52px;
  display: block;
}

.link {
  display: inline-block;
  margin: 10px;
  font-size: 32px;
  height: 32px;
  width: 32px;
  text-decoration: none;
  color: white;
  @media #{$tablet} {
    color: black;
  }
}

.links {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    transform: translate(0, 100%);
    position: relative;
    flex-direction: row;
    margin-left: auto;
  }
  // flex: 1 1 auto;
}


.markdown-content {
  padding: 30px;
  text-align: center;
}
