:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

:host([hidden]) {
  display: none;
}

.title {
  color: var(--primary-color-dark);
  margin-right: calc(var(--space) / 2);
  flex: 0 auto;
  white-space: nowrap;
}

.line {
  flex: 1 auto;
  box-sizing: border-box;
  height: 3.17px;
  width: 100%;
  border: 2px solid var(--primary-color-light);
} 
