@use 'variables';

@mixin phone {
  @media (max-width: variables.$phone-max-width) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: variables.$tablet-min-width) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: variables.$laptop-min-width) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: variables.$desktop-min-width) {
    @content;
  }
}

@mixin padding-limit {
  @media (max-width: #{variables.$max-width}) {
    padding-left: calc(#{variables.$space} * 2);
    padding-right: calc(#{variables.$space} * 2);
  }
  padding-left: calc((100vw - 960px) / 2);
  padding-right: calc((100vw - 960px)/ 2);
}
