@import "../settings/variables";

html {
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}


port-event {
  margin-bottom: calc(#{$space} * 2);
}

// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px var(--dark-color);
// 	-webkit-box-shadow: inset 0 0 6px var(--dark-color);
// 	background-color: var(--dark-color);
// }

// ::-webkit-scrollbar {
//   width: 6px;
//   background-color: var(--primary-color-dark);
// }

// ::-webkit-scrollbar-thumb {
//   background-color: var(--primary-color-dark);
// }

